/*Setting the theme colours*/
:root {
  --navy-navbar-colour: #0b132b;
  --navy-background-colour: #1c2541;
  --light-teal-accent-colour: #5bc0be;
  --medium-teal-accent-colour: #00cecb;
  --dark-teal-accent-colour: #1b9aaa;
  --grey-skills-bar-background: grey;
  --white: white;
}
/*Setting default font size*/
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
/*This selector styles the navbar*/
.navbar {
  background-color: var(--navy-navbar-colour);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*This selector styles the about me link container*/
#about-me-link-container {
  background-color: var(--navy-navbar-colour);
  display: inline;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
/*This pseudo element adds a # before the about me link container*/
#about-me-link-container ::before {
  padding-right: 0.2rem;
  content: "#";
}
/*This selector styles the about me link in the nav bar*/
#about-me-link {
  padding-right: 0.5rem;
  text-decoration: none;
  text-align: right;
  display: inline;
  font-size: 3rem;
}
/*This pseudo element adds a { after the about me link container*/
#about-me-link-container ::after {
  padding-right: 0.5rem;
  padding-left: 0.2rem;
  content: "{";
}
/*This pseudo element adds a # before the projects  link container*/
#projects-link-container ::before {
  padding-right: 0.2rem;
  content: "#";
}
/*This selector styles the project link container*/
#projects-link-container {
  background-color: var(--navy-navbar-colour);
  display: inline;
  padding: 0.5rem;
}
/*This selector styles the projects link in the nav bar*/
#projects-link {
  padding-right: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
  font-size: 2rem;
  display: inline;
}
/*This selector contains a pseudo element that adds a { after the project link container*/
#projects-link-container ::after {
  padding-right: 1.25rem;
  padding-left: 0.2rem;
  content: "{";
}
#contact-link-container {
  background-color: var(--navy-navbar-colour);
  display: inline;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}
#contact-link-container ::before {
  padding-right: 0.2rem;
  content: "#";
}
#contact-link {
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
  font-size: 2rem;
  display: inline;
}
#contact-link-container ::after {
  padding-right: 1.25rem;
  padding-left: 0.2rem;
  content: "{";
}
#cv-link-container {
  background-color: var(--navy-navbar-colour);
  display: inline;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}
#cv-link-container ::before {
  padding-left: 1rem;
  padding-right: 0.2rem;
  content: "#";
}
#cv-link {
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
  font-size: 2rem;
  display: inline;
}
#cv-link-container ::after {
  padding-right: 1.25rem;
  padding-left: 0.2rem;
  content: "{";
}
.linked-in-icon {
  padding-top: 0.05rem;
  max-height: 200px;
  max-width: 200px;
}
/*Default colour and size styling for the navbar links*/
a:link {
  color: var(--medium-teal-accent-colour);
  font-size: 3rem;
}
/*Colours a visited navbar link*/
a:visited {
  color: var(--dark-teal-accent-colour);
}
/*Styles navbar links, when a user hovers over it*/
a:hover {
  color: var(--light-teal-accent-colour);
  font-size: 3.5rem;
}
/*Styles the navy navbar container*/
.container {
  background-color: var(--navy-navbar-colour);
}
/*Styles the main content section*/
.content {
  background-color: var(--navy-background-colour);
  padding: 1rem;
  flex-grow: 1;
}
/*This selector styles the header*/
.header {
  background-color: var(--navy-background-colour);
  font-size: 2.6rem;
  margin-bottom: 0rem;
}
/*This selectors styles the main title in the header*/
.header h1 {
  color: var(--medium-teal-accent-colour);
  margin: 0rem;
  padding-top: 2.5rem;
  line-height: 5.5rem;
  text-align: center;
}
/*This selector styles the about me section, which contains an image and short description highlighting my skills*/
.about-me {
  background-color: var(--dark-teal-accent-colour);
  padding: 0.5rem;
  margin: 4rem;
  border-radius: 5px;
}
/*This selector styles the heading in the about me section*/
.about-h2 {
  color: var(--navy-background-colour);
  background-color: var(--dark-teal-accent-colour);
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 2rem;
}
/*Contains a pseudo class to increase About Me heading size, when a user hovers over it*/
.about-h2:hover {
  text-align: center;
  font-size: 4rem;
}
/*This selector styles the main container in the about me section*/
.about-me-main-container {
  background-color: var(--dark-teal-accent-colour);
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 0.5rem;
  padding: 0rem;
  margin: 0rem;
}
/*This selector styles the image container in the about me section*/
.about-me-image-container {
  display: flex;
  padding: 0.5rem;
  background-color: var(--dark-teal-accent-colour);
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/*This selector styles the image in the about me section*/
.about-me-image {
  flex-wrap: wrap;
  height: 60%;
  max-width: 60%;
  object-fit: contain;
  object-position: center;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
  border-radius: 2px;
  opacity: 1;
}
/*This selector contains a pseudo class to make the about me image more transparent, when a user hovers over it*/
.about-me-image:hover {
  opacity: 0.8;
}
/*This selector styles the description container in the about me section*/
.about-me-description {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-teal-accent-colour);
  border-radius: 0.5rem;
  margin: 0rem;
  padding: 0rem;
  object-fit: contain;
}
/*This selector styles the paragraph in the about me section*/
.about-me-description p {
  background-color: var(--dark-teal-accent-colour);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding: 0 rem;
  color: var(--navy-background-colour);
}
/*This selector styles the my attributes section*/
.about-me-my-attributes {
  background-color: var(--navy-navbar-colour);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  margin: 4rem;
  border-radius: 5px;
}
/*This selector styles the paragraph in the my attributes section*/
.about-me-my-attributes p {
  color: var(--dark-teal-accent-colour);
  background-color: var(--navy-navbar-colour);
  padding-left: 3rem;
  padding-top: 1.5rem;
  font-size: 5rem;
}
/*This selector styles the list items in the my attributes section*/
.about-me-my-attributes ul li {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-items: center;
  color: var(--dark-teal-accent-colour);
  background-color: var(--navy-navbar-colour);
  font-size: 3rem;
  list-style: none;
}
/*These selectors style the skills bars in the my attributes section*/
.about-me-my-attributes .skillsbar {
  background-color: var(--grey-skills-bar-background);
  border-radius: 13px;
  margin: 2px;
}

progress {
  color: var(--medium-teal-accent-colour);
  border-color: var(--grey-skills-bar-background);
  border: 1.5px;
  padding: var(--white);
  padding: 1px;
}

progress::-webkit-progress-value {
  background: var(--medium-teal-accent-colour);
}

progress::-moz-progress-bar {
  background: var(--grey-skills-bar-background);
}
/*This selector styles the projects section, which contains links to my development work*/
.projects {
  background-color: var(--navy-background-colour);
  padding: 1.5rem;
  margin-bottom: 0rem;
}
/*This selector styles the subheading the projects section*/
.projects-h2 {
  text-align: center;
  color: var(--light-teal-accent-colour);
  font-size: 2.5rem;
}
/*Contains a pseudo class to increase About Me heading size, when a user hovers over it*/
.projects-h2:hover {
  text-align: center;
  font-size: 4rem;
}
/*This selector styles the project cards container in the projects section*/
.cards-container {
  display: flex;
  background-color: var(--navy-background-colour);
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
/*This selector styles the project cards*/
.card {
  background-color: var(--dark-teal-accent-colour);
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 5px;
  width: 65vw;
}
/*This selector styles the first project card*/
.card:first-child {
  width: 80vw;
}
/*This selector styles the image container for the project cards*/
.card-image-container {
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  position: relative;
  text-align: center;
  color: var(--white);
}

/*This selector styles the title of the first project card*/
.centered-first-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bolder;
  color: var(--white);
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.project-github-link-container-L {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5rem;
}

.project-github-link-container-M {
  display: none;
}

.card-github-link-container-S {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.5rem;
}

/*This selector styles the title project cards 2, 3 and 4*/
.centered h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--navy-background-colour);
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

/*This selector styles the image container of the first project card*/
.card-image-container:first-child {
  display: flex;
  flex-grow: 1;
}
/*This selector styles the images of the project cards 2, 3 and 4*/
.card-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  opacity: 0.6;
  flex-grow: 0.95;
}
/*This selector styles the image of project card 1*/
.card-image:first-child {
  display: flex;
  flex-grow: 1;
  opacity: 0.6;
}

.card-image:first-child:hover {
  display: flex;
  flex-grow: 1;
  opacity: 0.45;
}
/*This selector styles all project card images when a user hovers over them*/
.card-image:hover {
  opacity: 0.45;
}


.contact {
    background-color: var(--navy-navbar-colour);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    padding: 1.5rem;
    margin: 0rem;
  }

  .contact-info-container {
    background-color: var(--navy-navbar-colour);
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    padding: 1.5rem;
    margin: 0rem;
  }
  .contact-p {
  color: var(--dark-teal-accent-colour);
  background-color: var(--navy-navbar-colour);
  padding: 1.2rem;
  font-size: 2.75rem;
  }

  .contact-p:hover {
    padding: 1rem;
    font-size: 3rem;
}
  /*This selector styles the image container in the about me section*/
  .contact-linkedin-container {
    display: flex;
    padding: 0.5rem;
    background-color: var(--dark-teal-accent-colour);
    flex-wrap: wrap;
    justify-content: center;
  }
  /*This selector styles the image in the about me section*/
  /* .about-me-image {
    flex-wrap: wrap;
    height: 60%;
    max-width: 60%;
    object-fit: contain;
    object-position: center;
    padding-top: 0.25rem;
    padding-bottom: 2rem;
    border-radius: 2px;
    opacity: 1;
  }
  background-color: var(--navy-navbar-colour);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  margin: 0rem;
  border-radius: 5px; */
}

/* .as {
  padding-left: 0.25rem;
  padding-bottom: 4rem;
  padding-right: 0.5rem;
}

.about-me-my-attributes ul li {
  font-size: 3.5rem;
} */

/*This selector styles the footer*/
.footer {
  background-color: var(--navy-background-colour);
}

/*Devices over 1200px*/
@media screen and (min-width: 1201px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    padding-top: 0rem;
    max-height: 350px;
    max-width: 350px;
  }
  .header h1 {
    padding-top: 4.25rem;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-bottom: 2.25rem;
    margin: 0rem;
    font-size: 5rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 4.5rem;
  }

  .about-me-description p {
    font-size: 3.5rem;
    text-align: center;
    padding-left: 5rem;
  }
  .about-me-my-attributes {
    padding-left: 0.25rem;
    padding-bottom: 4rem;
    padding-right: 0.5rem;
  }

  .about-me-my-attributes ul li {
    font-size: 3.5rem;
  }
  .projects-h2 {
    font-size: 4.5rem;
    padding-bottom: 2rem;
  }
  .card {
    width: 30vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
  }
  .card:first-child {
    width: 75vw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .centered-first-card h3 {
    font-size: 4rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }

  .card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    padding-top: 2rem;
    opacity: 0.9;
    flex-grow: 0.95;
  }
  .card-info p {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2.2rem;
    letter-spacing: 0.25rem;
    font-size: 2.5rem;
  }
}

/*XL Breakpoint*/
@media screen and (max-width: 1200px) and (min-width: 993px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    padding-top: 0rem;
    max-height: 275px;
    max-width: 275px;
  }
  .header h1 {
    padding-top: 4.5rem;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-bottom: 2.25rem;
    margin: 0rem;
    font-size: 4.5rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 4.2rem;
  }
  .about-h2:hover {
    font-size: 4.5rem;
    text-align: center;
  }

  .about-me-description p {
    font-size: 3.25rem;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 3.25rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes p {
    font-size: 3.25rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes ul li {
    font-size: 3.25rem;
  }
  .projects-h2 {
    font-size: 4.2rem;
    padding-bottom: 2rem;
  }
  .projects-h2:hover {
    font-size: 4.5rem;
    text-align: center;
  }
  .card {
    width: 25vw;
    padding: 0rem;
    flex-direction: row;
  }
  .card:first-child {
    width: 75vw;
    margin: 2.5rem;
  }
  .centered-first-card h3 {
    font-size: 3.5rem;
  }

  .project-github-link-container-L {
    display: none;
  }

  .project-github-link-container-M {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0.5rem;
  }

  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .card-info p {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2.2rem;
    letter-spacing: 0.25rem;
    font-size: 2rem;
  }
  .contact-p {
    padding: 0.5rem;
    font-size: 2.5rem;
}
.contact-p:hover {
  padding: 0.35em;
  font-size: 3rem;
}
}

/*Large Breakpoint*/
@media screen and (max-width: 992px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    max-height: 175px;
    max-width: 175px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0rem;
    font-size: 4.2rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 3.75rem;
  }
  .about-h2:hover {
    font-size: 4rem;
    text-align: center;
  }
  .about-me-image {
    max-height: 200px;
    max-width: 200px;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: block;
  }

  .about-me-description p {
    font-size: 3.1rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 2.25rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes p {
    font-size: 3.1rem;
    padding-right: 0.5rem;
  }

  .about-me-my-attributes ul li {
    font-size: 3.1rem;
  }
  .projects-h2 {
    font-size: 3.75rem;
  }
  .projects-h2:hover {
    font-size: 4rem;
    text-align: center;
  }
  .card {
    width: 28vw;
    padding: 0rem;
    flex-direction: column;
  }
  .card:first-child {
    width: 80vw;
    margin: 2rem;
  }
  .centered-first-card h3 {
    font-size: 3rem;
  }
  .project-github-link-container-L {
    display: none;
  }

  .project-github-link-container-M {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0.25rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .card-info p {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2.2rem;
    letter-spacing: 0.25rem;
    font-size: 1.95rem;
  }
  .contact-p {
    padding: 0.6rem;
    font-size: 2.25rem;
}
.contact-p:hover {
  padding: 0.3rem;
  font-size: 2.7rem;
}
}

/*Medium Breakpoint*/
@media screen and (max-width: 768px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    max-height: 150px;
    max-width: 150px;
  }
  .header h1 {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0rem;
    font-size: 4rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 3.25rem;
  }
  .about-h2:hover {
    font-size: 3.5rem;
    text-align: center;
  }
  .about-me-image {
    max-height: 200px;
    max-width: 200px;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: block;
  }

  .about-me-description p {
    font-size: 3rem;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    padding-right: 0.25rem;
  }
  .about-me-my-attributes p {
    font-size: 3rem;
    padding-right: 0.5rem;
  }

  .about-me-my-attributes ul li {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .projects-h2 {
    font-size: 3.25rem;
  }
  .projects-h2:hover {
    font-size: 3.5rem;
    text-align: center;
  }
  .cards-container {
    display: flex;
    background-color: var(--navy-background-colour);
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 50vw;
    padding: 0rem;
    flex-direction: column;
  }
  .card:first-child {
    width: 80vw;
    margin: 2rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .centered-first-card h3 {
    font-size: 3.25rem;
  }
  .project-github-icon-M {
    max-height: 3rem;
    max-width: 3rem;
    padding-top: 0.25rem;
  }
  .card-info p {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    letter-spacing: 0.25rem;
    font-size: 1.85rem;
  }
  .contact-p {
    padding: 0.5rem;
    font-size: 2.15rem;
}
.contact-p:hover {
  padding: 0.25rem;
  font-size: 2.5rem;
}
}

/*Small Breakpoint*/
@media screen and (max-width: 576px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    max-height: 100px;
    max-width: 100px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin: 0rem;
    font-size: 3.25rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 3rem;
  }
  .about-h2:hover {
    font-size: 3.25rem;
    text-align: center;
  }
  .about-me-image {
    max-height: 140px;
    max-width: 140px;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
  }
  .about-me-description p {
    font-size: 2.75rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 1.75rem;
    padding-right: 0.25rem;
  }
  .about-me-my-attributes p {
    font-size: 2.75rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes ul li {
    font-size: 2.75rem;
    padding-bottom: 1rem;
  }
  .projects-h2 {
    font-size: 3rem;
  }
  .projects-h2:hover {
    font-size: 3.25rem;
    text-align: center;
  }
  .card {
    width: 60vw;
    padding: 0rem;
    margin: 0.5rem;
  }
  .card:first-child {
    width: 80vw;
  }
  .centered-first-card h3 {
    font-size: 3rem;
  }

  .project-github-icon-M {
    max-height: 2.5rem;
    max-width: 2.5rem;
    padding-top: 0.25rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .card-info p {
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    letter-spacing: 0.008rem;
    font-size: 1.7rem;
  }
  .contact-p {
    padding: 0.25rem;
    font-size: 2rem;
}
.contact-p:hover {
  padding: 0.15rem;
  font-size: 2.2rem;
}
}

/*IPhone 6/7/8Plus*/
@media screen and (max-width: 414px) {
  #about-me-link {
    font-size: 2rem;
  }

  #projects-link {
    font-size: 2rem;
  }
  .linked-in-icon {
    max-height: 80px;
    max-width: 80px;
    padding-left: 3px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 0rem;
    font-size: 3.25rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
  }
  .about-h2:hover {
    font-size: 2.5rem;
    text-align: center;
  }
  .about-me-image {
    max-height: 125px;
    max-width: 125px;
    padding-bottom: 1rem;
  }
  .about-me-description p {
    font-size: 2rem;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding-left: 0.15rem;
    padding-bottom: 1rem;
    padding-right: 0.25rem;
  }
  .about-me-my-attributes p {
    font-size: 2rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes ul li {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .projects-h2 {
    font-size: 2.2rem;
  }
  .projects-h2:hover {
    font-size: 2.5rem;
    text-align: center;
  }
  .card:first-child {
    width: 80vw;
    padding: 0.75rem;
  }
  .card {
    width: 60vw;
    padding: 0rem;
    margin: 0.5rem;
  }

  .centered-first-card h3 {
    font-size: 3rem;
  }

  .project-github-icon-M {
    max-height: 2.3rem;
    max-width: 2.3rem;
    padding-top: 0.25rem;
  }

  .card-github-icon-S {
   vertical-align: middle;
    max-height: 2rem;
    max-width: 2rem;
    padding-top: 0.25rem;
  }

  .card-github-icon-S-2 {
    vertical-align: middle;
     max-height: 2rem;
     max-width: 2rem;
     padding-top: 1rem;
   }

  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .contact-p {
    padding: 0.25rem;
    font-size: 1.65rem;
}
.contact-p:hover {
  padding: 0.15rem;
  font-size: 1.75rem;
}
}

/*Iphone 5/SE*/
@media screen and (max-width: 320px) {
  #about-me-link {
    font-size: 1.5rem;
  }

  #projects-link {
    font-size: 1.5rem;
  }
  .linked-in-icon {
    max-height: 50px;
    max-width: 50px;
    padding-left: 3px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 1rem;
    margin: 0rem;
    font-size: 3rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 2rem;
    text-align: center;
  }
  .about-h2:hover {
    font-size: 2.25rem;
    text-align: center;
  }
  .about-me-image {
    max-height: 100px;
    max-width: 100px;
  }
  .about-me-description p {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 0.25rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding: 1rem;
    padding-left: 0.5rem;
  }

  .about-me-my-attributes p {
    font-size: 1.5rem;
  }

  .about-me-my-attributes ul li {
    font-size: 1.3rem;
  }
  .projects-h2 {
    font-size: 2rem;
  }
  .projects-h2:hover {
    font-size: 2.25rem;
    text-align: center;
  }
  
}