html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.navbar {
  background-color: #0b132b;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#about-me-link-container {
  margin: 10px;
  background-color: #0b132b;
  display: block;
}

#about-me-link-container ::before {
  padding-right: 0.2rem;
  content: "#";
}

#about-me-link {
  padding-right: 0.1rem;
  text-decoration: none;
  text-align: right;
  font-family: monospace;
  padding: 20px;
  font-size: 2rem;
}

#about-me-link-container ::after {
  padding-left: 0.2rem;
  content: "{";
}

#projects-link-container ::before {
  padding-right: 0.2rem;
  content: "#";
}

#projects-link-container {
  margin: 10px;
  background-color: #0b132b;
  display: block;
}

#projects-link {
  padding: 0.1rem;
  text-decoration: none;
  width: 48%;
  text-align: center;
  font-size: 150%;
  font-family: monospace;
  font-size: 2rem;
}

#projects-link-container ::after {
  padding-left: 0.2rem;
  content: "{";
}

a:link {
  color: #00cecb;
  font-size: 15px;
}
a:visited {
  color: #1b9aaa;
}
a:hover {
  color: #5bc0be;
  font-size: 20px;
}
.container {
  background-color: #0b132b;
}

.content {
  background-color: #1c2541;
  padding: 1rem;
  flex-grow: 1;
}

.header {
  font-size: 2.6rem;
  color: #00cecb;
  margin-bottom: 0rem;
}

.header h1 {
  background-color: #1c2541;
  color: inherit;
  margin: 0rem;
  padding-top: 2.5rem;
  text-align: center;
}

.about-me {
  background-color: #1b9aaa;
  padding: 0.5rem;
  margin: 4rem;
  border-radius: 5px;
}
.about-h2 {
  color: #1c2541;
  background-color: #1b9aaa;
  text-align: center;
  font-size: 2.3rem;
}

.about-h2:hover {
  text-align: center;
  font-size: 2.6rem;
}
.about-me-main-container {
  background-color: #5bc0be;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 0.5rem;
  padding: 0rem;
  margin: 0rem;
}
.about-me-image-container {
  display: flex;
  padding: 0.5rem;
  background-color: #1b9aaa;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-me-image {
  flex-wrap: wrap;
  height: 30%;
  max-width: 30%;
  object-fit: contain;
  object-position: center;
  padding-top: 0.25rem;
  border-radius: 2px;
  opacity: 1;
}

.about-me-image:hover {
  opacity: 0.8;
}

.about-me-description {
  display: flex;
  flex-wrap: wrap;
  background-color: #1b9aaa;
  border-radius: 0.5rem;
  margin: 0rem;
  padding: 0rem;
  object-fit: contain;
}

.about-me-description p {
  background-color: #1b9aaa;
  font-size: 0.4rem;
  padding-top: 0.5rem;
  margin: 0rem;
  padding: 0rem;
  color: #1c2541;
}

.about-me-description p {
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding: 0 rem;
}

.about-me-my-attributes {
  background-color: #0b132b;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  margin: 4rem;
  border-radius: 5px;
}

.about-me-my-attributes p {
  color: #1b9aaa;
  background-color: #0b132b;
  padding-left: 3rem;
  padding-top: 1.5rem;
  font-size: 5rem;
}

.about-me-my-attributes ul li {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-items: center;
  color: #1b9aaa;
  background-color: #0b132b;
  font-size: 3rem;
  list-style: none;
}

.about-me-my-attributes .skillsbar {
  background-color: grey;
  border-radius: 13px;
  margin: 2px;
}

progress {
  color: #00cecb;
  border-color: grey;
  border: 1px;
  padding: white;
  padding: 1px;
}

progress::-webkit-progress-value {
  background: #00cecb;
}

progress::-moz-progress-bar {
  background: whitesmoke;
}

.projects {
  background-color: #1c2541;
  padding: 1.5rem;
  margin-bottom: 0rem;
}
.projects-h2 {
  text-align: center;
  color: #5bc0be;
  font-size: 2.3rem;
}
.projects-h2:hover {
  text-align: center;
  font-size: 2.6rem;
}

.cards-container {
  display: flex;
  background-color: #1c2541;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  background-color: #1b9aaa;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  width: 60vw;
}
.card:first-child {
  width: 80vw;
}
.card-image-container {
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
}
.centered-first-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.centered h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
}
.card-image-container:first-child {
  display: flex;
  flex-grow: 1;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  justify-content: center;
  padding: 0.5rem;
  opacity: 0.5;
  flex-grow: 0.95;
}

.card-image:first-child {
  display: flex;
  flex-grow: 1;
}
.card-image:hover {
  opacity: 0.4;
}

.card1-info p {
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 2rem;
}

.card-info p {
  overflow: hidden;
  border-right: 0.15rem solid #1b9aaa;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-delay: 2s;
  animation-iteration-count: 5;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #1b9aaa;
  }
}

/*XL Breakpoint*/
@media screen and (min-width: 1400px) and (min-width: 1201px) {
  .about-h2 {
    font-size: 4.5rem;
  }

  .about-me-description p {
    font-size: 5rem;
  }
  .about-me-my-attributes ul li {
    font-size: 5rem;
  }
  .projects-h2 {
    font-size: 4.5rem;
  }
  .card {
    width: 28vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
  }
  .card:first-child {
    width: 75vw;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
}

/*Large Breakpoint*/
@media screen and (max-width: 1200px) and (min-width: 993px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    padding-top: 0rem;
    max-height: 250px;
    max-width: 250px;
  }
  .header h1 {
    padding-top: 4rem;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-bottom: 2.25rem;
    margin: 0rem;
    font-size: 4.5rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 4.2rem;
  }

  .about-me-description p {
    font-size: 3.25rem;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 3.2rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes ul li {
    font-size: 3.25rem;
  }
  .projects-h2 {
    font-size: 4.2rem;
  }
  .card {
    width: 25vw;
    padding: 0rem;
    flex-direction: column;
  }
  .card:first-child {
    width: 75vw;
  }
  .centered-first-card h3 {
    font-size: 3.5rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .card-info p {
    overflow: hidden;
    border-right: 0.15rem solid #1b9aaa;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2.2rem;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 2.5s;
    animation-iteration-count: 6;
  }
}

/*Large Tablets*/
@media screen and (max-width: 992px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    max-height: 175px;
    max-width: 175px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0rem;
    font-size: 4.2rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 3.75rem;
  }
  .about-me-image {
    max-height: 200px;
    max-width: 200px;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: block;
  }

  .about-me-description p {
    font-size: 3.1rem;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 2.25rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes p {
    font-size: 3.1rem;
    padding-right: 0.5rem;
  }

  .about-me-my-attributes ul li {
    font-size: 3.1rem;
  }
  .projects-h2 {
    font-size: 3.75rem;
  }
  .card {
    width: 30vw;
    padding: 0rem;
    flex-direction: column;
  }
  .card:first-child {
    width: 80vw;
  }
  .centered-first-card h3 {
    font-size: 3rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .card-info p {
    overflow: hidden;
    border-right: 0.15rem solid #1b9aaa;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2.2rem;
    letter-spacing: 0.25rem;
    font-size: 1.95rem;
    animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 2.5s;
    animation-iteration-count: 6;
  }
}

/*Medium Breakpoint*/
@media screen and (max-width: 768px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    max-height: 150px;
    max-width: 150px;
  }
  .header h1 {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0rem;
    font-size: 4rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 3.25rem;
  }
  .about-me-image {
    max-height: 200px;
    max-width: 200px;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: block;
  }

  .about-me-description p {
    font-size: 3rem;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    padding-right: 0.25rem;
  }
  .about-me-my-attributes p {
    font-size: 3rem;
    padding-right: 0.5rem;
  }

  .about-me-my-attributes ul li {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .projects-h2 {
    font-size: 3.25rem;
  }
  .card {
    width: 50vw;
    padding: 0rem;
    flex-direction: column;
  }
  .card:first-child {
    width: 80vw;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .centered-first-card h3 {
    font-size: 3.25rem;
  }
  .card-info p {
    overflow: hidden;
    border-right: 0.15rem solid #1b9aaa;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    letter-spacing: 0.25rem;
    font-size: 1.85rem;
    animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 2.5s;
    animation-iteration-count: 6;
  }
}

/*Small Breakpoint*/
@media screen and (max-width: 576px) {
  #about-me-link {
    font-size: 3rem;
  }
  #projects-link {
    font-size: 3rem;
  }
  .linked-in-icon {
    max-height: 100px;
    max-width: 100px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin: 0rem;
    font-size: 3.25rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 3rem;
  }
  .about-me-image {
    max-height: 140px;
    max-width: 140px;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
  }
  .about-me-description p {
    font-size: 2.75rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding-left: 0.5rem;
    padding-bottom: 1.75rem;
    padding-right: 0.25rem;
  }
  .about-me-my-attributes p {
    font-size: 2.75rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes ul li {
    font-size: 2.75rem;
    padding-bottom: 1rem;
  }
  .projects-h2 {
    font-size: 3rem;
  }
  .card {
    width: 60vw;
    padding: 0rem;
    margin: 0.5rem;
  }
  .card:first-child {
    width: 80vw;
  }
  .centered-first-card h3 {
    font-size: 3rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .card-info p {
    overflow: hidden;
    border-right: 0.15rem solid #1b9aaa;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    letter-spacing: 0.008rem;
    font-size: 1.7rem;
    animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 2s;
    animation-iteration-count: 6;
  }
}

/*IPhone 6/7/8*/
@media screen and (max-width: 414px) {
  #about-me-link {
    font-size: 2rem;
  }

  #projects-link {
    font-size: 2rem;
  }
  .linked-in-icon {
    max-height: 80px;
    max-width: 80px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 0rem;
    font-size: 3.25rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
  }
  .about-me-image {
    max-height: 100px;
    max-width: 100px;
    padding-bottom: 1rem;
  }
  .about-me-description p {
    font-size: 2rem;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding-left: 0.15rem;
    padding-bottom: 1rem;
    padding-right: 0.25rem;
  }
  .about-me-my-attributes p {
    font-size: 2rem;
    padding-right: 0.5rem;
  }
  .about-me-my-attributes ul li {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .projects-h2 {
    font-size: 2.2rem;
  }
  .card:first-child {
    width: 80vw;
  }
  .card {
    width: 60vw;
    padding: 0rem;
    margin: 0.5rem;
  }

  .centered-first-card h3 {
    font-size: 3rem;
  }

  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }
  .card-info p {
    overflow: hidden;
    border-right: 0.15rem solid #1b9aaa;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    letter-spacing: 0.0065rem;
    font-size: 1.5rem;
    animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 2.5s;
    animation-iteration-count: 6;
  }
}

/*Iphone 5/SE*/
@media screen and (max-width: 320px) {
  #about-me-link {
    font-size: 1.5rem;
  }

  #projects-link {
    font-size: 1.5rem;
  }
  .linked-in-icon {
    max-height: 50px;
    max-width: 50px;
  }
  .header h1 {
    padding-top: 3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 1rem;
    margin: 0rem;
    font-size: 3rem;
    text-align: center;
  }
  .about-h2 {
    font-size: 2rem;
    text-align: center;
  }
  .about-me-image {
    max-height: 100px;
    max-width: 100px;
  }
  .about-me-description p {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 0.25rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
  .about-me-my-attributes {
    padding: 1rem;
    padding-left: 0.5rem;
  }

  .about-me-my-attributes p {
    font-size: 1.5rem;
  }

  .about-me-my-attributes ul li {
    font-size: 1.3rem;
  }
  .projects-h2 {
    font-size: 2rem;
  }
  .card {
    width: 60vw;
    padding: 0rem;
    margin: 0.5rem;
    flex-direction: column;
  }
  .card:first-child {
    width: 80vw;
    padding: 0.5rem;
  }
  .centered-first-card h3 {
    font-size: 2.5rem;
  }
  .card-image:first-child {
    max-height: 250px;
    max-width: 250px;
  }
  .centered h3 {
    font-size: 2.5rem;
  }
  .card-image-container {
    margin: 0rem;
    padding: 0rem;
  }

  .card-image {
    max-height: 90px;

    max-width: 90px;
  }
  .card-info p {
    overflow: hidden;
    border-right: 0.15rem solid #1b9aaa;
    white-space: nowrap;
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 2.5s;
    animation-iteration-count: 6;
  }
}
.footer {
  background-color: #1c2541;
}
