html {
    font-size: 10px;
}

.container { 
    background-color: aqua;
    height: 100vh;
    display: flex;
}

.navbar { 
    background-color: red;
    padding: 2rem;
}

.content {
    background-color: yellow;
    padding: 1rem;
    flex-grow: 1;
}

.header {
    background-color: pink;
    padding: 1rem;
    margin-bottom: 1rem;
}

.aboutme {
    background-color: green;
    padding: 1rem;
    margin-bottom: 1rem;
}

.projects {
    background-color: brown;
    padding: 1rem;
    margin-bottom: 1rem;
}

.cards-container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: orange;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.card-image-container {
    height: 20rem;
    width: 20rem;
    margin-bottom: 1rem;
    background-color: yellow;
}

.card-image {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card-title {
    background-color: blue;
    margin-bottom: 1rem;
    padding: 1rem;
}

.card-info {

}

/*Tablet*/
@media screen and (max-width: 768px) {
    .container { 
        flex-direction: column;
    }
}

/*Mobile*/
@media screen and (max-width: 450px) {
    .container { 
        flex-direction: column;
    }
}